<ul>
  <% @tasks.each do |task| %>
  <li><%= link_to task.title, task_path(task) %></li>
  <!--                        👆this task:
                          prefix found in rails routes-->
  <% end %>

</ul>

<%= link_to "create a new task", tasks_new_path %>
